html, body {
    background: #3f5959; 
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;            
    padding: env(safe-area-inset);/* fixes notch issue */
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

canvas {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;         
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: crisp-edges;               
    -ms-interpolation-mode: nearest-neighbor;   
}

.navbar {
    overflow: hidden;
    background-color: #1e2628;
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: 0 1vh 2vh 0 #00000033; 
}

.navbar #navbar_links{
    display: none;
}

.navbar a {
    color: white;
    padding: 1vh 2vh;
    text-decoration: none;
    user-select: none;
    font-family: 'Onesize', sans-serif;
    font-size: 4vh;
    display: block;
}

.navbar a.icon {
    background-color: #1e2628;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 7vh; */
    right: 0;
    top: 0;
}

.navbar a:hover{
    /* background-color: #13191a; */
    color: rgb(190, 189, 189);
}

#charIcon {
    position: relative;
    width: 10vh;
    height: 20vh;
}

#playButton{
    background-color: #d35454;
    font-family: 'Onesize', sans-serif;
    font-size: 5vh;
    color: white;
    width: 30vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: transparent;
    border-radius: 4vh;
    user-select: none;
    text-decoration: none;
    box-shadow: 0 4px 4px 0 #00000033;
    margin-top: 5vh;
    margin-left: 2vh; 
}

#playButton:hover{
    background-color: #da4545;
    /* color: rgb(55, 16, 16); */
}

#logo{
    color: #d35454;
    font-family: 'Onesize', sans-serif;
    /* margin: 0; */
    /* position: relative;  */
    text-decoration: none;
    user-select: none;
 }  

.mainText {
    color: white;
    margin: 0;
    padding: 0 10vw;
    width: 80vw;
    font-family: 'Onesize',sans-serif;
    font-size: 3vh;
}

/*--wip--*/
.wip {
    color: white;
    margin-left: 2vw;
    font-family: 'Common Pixel', sans-serif;
    font-size: 20vh;
}


@media all and (orientation: landscape){
    .navbar a {
        padding: 1vw 2vw;
        font-size: 2vw;
    }
    
    #logo{
        font-size: 2vw;
    }

    #playButton{
        font-size: 5vw;
        width: 30vw;
        height: 10vw;
        border-radius: 4vw;
        box-shadow: 0 4px 4px 0 #00000033;
        margin-top: 5vw;
        margin-left: 2vw; 
    }

    #charIcon {
        width: 10vw;
        height: 20vw;
    }
}